html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.bold {
  font-weight: 700;
}

.container {

  height: 97vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.visable {
  display: flex;
}

footer {
  margin-left: 10px;
  align-self: flex-end;
  color: black;
}

.invisable {
  display: none;
}

.newHabitButton {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;

  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 100px;
  font-weight: 100;

  transition: background 0.1s linear;

  margin: 5px;
}

.habit {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;

  width: 150px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: 400;

  margin: 5px;
  transition: background 0.1s linear;
}

.habit:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.emote {
  font-size: 50px;
}

.newHabitButton:hover {
  background-color:coral;
  cursor: pointer;
}

.habitCreator {
  border: 3px solid black;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;

  height: 500px;
  width: 500px;

  padding: 10px;
}

.habitCreation {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exit-btn {
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;

  height: 50px;
  width: 50px;

  font-size: 30px;
  transition: background 0.1s linear;
}

.exit-btn:hover {
  background-color: coral;
}

.habit-title {
  margin: 10px;
  width: 100%;
  height: 80px;

  padding: 10px;
  font-size: 40px;

  border: 3px solid black;
}

.habit-emote {
  margin: 10px;
  width: 100%;
  height: 80px;

  padding: 10px;
  font-size: 40px;

  border: 3px solid black;
}

.done-btn {
  background-color: white;

  border: 3px solid black;
  height: 100px;

  font-size: 40px;

  transition: background 0.1s linear;
}

.done-btn:hover {
  background-color: coral;
}